@import 'config';

.text__animated {
  animation: rgbText 1s steps(9) 0s infinite alternate;
}

.title__gradient {
  background-image: -webkit-linear-gradient(#617fc4 0%, #d3ddf5 46%, #ffffff 50%, #9f96f3 54%, #fc8fa3 58%, #5e5891 90%, #d3546c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .01px #cec7c5;
}

.lines {
  font-family: 'PTSans';
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 0.6;
  will-change: opacity;
  animation: opacity 3s linear infinite;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines 0.2s linear infinite;
  }

}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 400;
  opacity: 0.8;
  pointer-events: none;
  opacity: 2;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    will-change: background-position;
    animation: noise 1s infinite alternate;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 98%;
  position: relative;

  &-center {
    justify-content: center;
  }
}

.wrapper__col {
  width: 48%;
  display: flex;
  flex-direction: column;

  @include adaptive(padding, 30, 20, 0);

  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.col__bg {
  background: rgba(255, 255, 255, .7);
}

.title {
  font-weight: bold;
  margin-bottom: 50px;
  @extend .t1;
  text-transform: uppercase;
  font-weight: bold;
  // @extend .title__gradient;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 1px #cec7c5;
  @extend .text__animated;
  @include _transition(all, .5s);
  opacity: 0;
  transform: translate(0, 100%);

  &._active {
    transform: translate(0, 0%);
    opacity: 1;
  }
}

.box__shadow {
  box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset 20px 0 80px #0ff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  @include _transition(all, .5s);
  animation: slideUp 1s .5s backwards;

}

.header__wrapper {
  align-items: center;
}

.header__links {
  a {
    @extend .text__animated;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  flex-direction: column;
  // min-height: 100vh;

}

.section__bg {
  pointer-events: none;
  background: $mainColor;

  filter: blur(15px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;


}

.video__bg {
  @include _transition(all, .5s);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;


  video {
    width: 100%;
    height: 100%;
  }
}

.main__video {
  @include _transition(all, .5s);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  // z-index: -999;
  // position: fixed;
  @extend .parallax__animation;

}

.parallax__animation {
  transform: scale(1.8)translate(0, 10%);
  @include _transition(all, 1s);

  &._active {
    transform: scale(1)translate(0, 0%);

  }
}

.parallax__bg {
  background-image: url('../img/img_2.jpg');
  // background-attachment: fixed;
  @extend .parallax__animation;
}

.parallax__video {
  @extend .parallax__animation;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__item {
  display: flex;
  margin-right: 25px;
  color: #fff;
  @extend .text__animated;
  text-transform: uppercase;
  @include _transition(all, .3s);
  // font-family: 'ljk_Kill';

  &.active {
    font-size: 20px;
  }
}

.burger__menu {
  z-index: 2;
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: $accent;
    @include _borderRadius(5px);
    @include _transition(all, .5s);
    top: 50%;
    right: 50%;
    opacity: 1;

    transform: translate(50%, -50%);
  }

  &::before,
  &::after {
    position: absolute;
    background: $accent;
    @include _borderRadius(5px);
    @include _transition(all, .5s);
    width: 100%;
    height: 5px;
    display: block;
    content: '';
  }

  &::before {
    top: 3px;
    // left: 0;
  }

  &::after {
    bottom: 3px;
    // left: 0;
  }

  &.__clicked {
    span {
      transform: translateX(100%);
      opacity: 0;
    }

    &::before {
      transform: rotate(-225deg);
      top: 17.5px;
    }

    &::after {
      transform: rotate(225deg);
      bottom: 17.5px;



    }
  }

  @media only screen and (max-width : 1024px) {
    display: flex;
  }

}

.top__section {
  min-height: 100vh;
}

.top__wrapper {
  align-items: center;
  justify-content: center;
}

.top__title {

  font-size: 8rem;

}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 45%;
  max-width: 600px;

  align-self: center;
  // height: 300px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  // overflow: hidden;
  justify-items: center;

  @media only screen and (max-width : 1369px) {
    max-width: 400px;

  }

}

.project__text {
  opacity: 0;

  @include _transition(all, .5s);

  &._active {
    opacity: 1;
  }

  p {
    transform: translate(0, 100%);
    opacity: 0;
    @include _transition(all, 1s);

    @for $var from 1 to 5 {
      $delay: $var*0.2;

      &:nth-child(#{$var}) {
        @if $var==1 {
          transition-delay: 0;
        }

        @else {
          transition-delay:#{$delay + s};
        }
      }
    }

    &._active {
      transform: translate(0%, 0%);
      opacity: 1;
      pointer-events: all;


    }
  }
}

.project,
.project__vertical {
  // &-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  @include _transition(all, 1s);
  transform: translate(120%, 0%);
  opacity: 0;

  // }
  &._active {
    opacity: 1;
    transform: translate(0%, 0%);

    @for $var from 1 to 17 {
      $delay: $var*0.2;

      &:nth-child(#{$var}) {
        @if $var==1 {
          transition-delay: 0;
        }

        @else {
          transition-delay:#{$delay + s};
        }
      }
    }
  }

  &:hover {
    transform: scale(1.1);
    z-index: 2;
  }

  &-wrapper,
  &-slide {
    background: $accentSecond;
    width: 100%;
    height: 100%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

    }
  }

  @media only screen and (max-width : 1369px) {
    height: 100px;
    width: 100px;
  }

}

.rates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  width: 100%;
  margin-top: 100px;
  align-self: center;
  margin-bottom: 100px;
  align-self: center;

  @media only screen and (max-width : 1600px) {
    // margin-top: -150px;
  }

  @media only screen and (max-width : 1369px) {
    margin-top: 0px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width : 600px) {
    grid-template-columns: repeat(1, 100%);

  }

}

.rates__item {
  position: relative;
  // overflow: hidden;
  @include _transition(all, .5s);
  display: flex;
  flex-direction: column;
  height: 350px;
  transform: translate(45%, 0%);
  opacity: 0;
  pointer-events: none;

  &._active {
    transform: translate(0%, 0%);
    opacity: 1;
    pointer-events: all;

    @for $var from 1 to 5 {
      $delay: $var*0.2;

      &:nth-child(#{$var}) {
        @if $var==1 {
          transition-delay: 0;
        }

        @else {
          transition-delay:#{$delay + s};
        }
      }
    }
  }

  &-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: $accentSecond;
    @include _transition(all, .3s);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 40px 30px;
    // transform: translateY(50%);
    text-align: center;


  }

  &-img {
    margin-bottom: 40px;
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-title {
    text-transform: uppercase;
    // @extend .text__animated;
  }

  &-price {
    // @extend .text__animated;
    margin-top: auto;
  }

  &-description {
    position: absolute;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 1);
    height: 100%;

    overflow: hidden;
    padding: 40px 15px 20px;
    top: 0;
    left: 0; // transform: translateY(-50%);
    @include _transition(all, .3s);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    strong {
      margin-bottom: 10px;
      font-size: 1.4rem;
    }

    ul {
      list-style: none;
      margin-bottom: 10px;

      li {
        font-size: 10px;
        display: flex;
        position: relative;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: url('../img/svg/icon__list.svg');
          display: block;
          margin-right: 10px;

        }
      }
    }

    @media only screen and (max-width : 1600px) {
      height: 400px;
    }

    @media only screen and (max-width : 1369px) {
      height: 300px;

    }
  }

  &-short__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


  }

  &-more__info {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    width: 0;
    height: 0;
  }

  &-btns {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  &-more__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 35px;
    min-height: 35px;
    height: 35px;
    max-width: 150px;
    width: 100%;
    position: relative;

    @include _transition(all, .3s);

    &::before {

      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 0px;
      border-bottom: dashed 2px $accentSecond;
      // background: $accentSecond;
      bottom: -3px;
      @include _transition(all, .3s);
    }

    &:hover {
      transform: scale(1.1);
      @extend .text__animated;

      &::before {
        transform: scale(.7);

      }
    }
  }

  &:hover {
    .rates__item-preview {
      // background: #9f96f3;
      transform: translateY(-50%);
      @extend.box__shadow;
    }

    .rates__item-title,
    .rates__item-price {
      @extend .text__animated;
    }

    .rates__item-description {
      transform: translateY(50%);
      opacity: 1;
      pointer-events: all;
    }

  }

}

.stages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  width: 95%;
  align-self: center;

}

.stage {
  z-index: 1;
  position: relative;
  background: $accentSecond;
  padding: 30px;
  display: flex;
  flex-direction: column;
  @include _borderRadius(5px);
  @include _transition(all, .3s);
  min-height: 250px;

  // animation: rgbBox 1s steps(9) 0s infinite alternate;

  // border: 5px solid #fff;
  transform: translate(150%, 0);
  opacity: 0;
  pointer-events: none;

  &:nth-child(1) {
    grid-row: 1 / 3;
  }

  &:hover {
    transform: scale(1.1);
    background: #fff;

    .stage__content {
      color: $accentSecond;
      @extend .text__animated;
    }
  }

  @media only screen and (max-width : 1600px) {
    min-height: 200px;

  }

  &._active {
    transform: translate(0%, 0);
    pointer-events: all;
    opacity: 1;

    @for $var from 1 to 5 {
      $delay: $var*0.2;

      &:nth-child(#{$var}) {
        @if $var==1 {
          transition-delay: 0;
        }

        @else {
          transition-delay:#{$delay + s};
        }
      }
    }
  }
}

.stage__number {
  @extend .title__gradient;
  text-transform: uppercase;
  margin-bottom: 20px;
  @extend .t1;
  animation: none;
}

.stage__content {
  color: #fff;
  @include _transition(all, .5s);

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: '-';
        margin-right: 5px;
      }
    }
  }
}


.contacts__section {
  min-height: 100vh;
}

.contacts__links {
  @include _transition(all, 1s);
  transform: translate(-100%, 0);
  opacity: 0;
  pointer-events: none;

  &._active {
    transform: translate(0%, 0);
    pointer-events: all;
    opacity: 1;
  }
}

.contact__form {
  @include _transition(all, 1s);
  transform: translate(100%, 0);
  opacity: 0;
  pointer-events: none;

  &._active {
    transform: translate(0%, 0);
    pointer-events: all;
    opacity: 1;
  }

  &-title {
    @extend .t3;
    margin-bottom: 20px;
  }
}

.contact__input {
  margin-bottom: 20px;

}

.footer__links {
  margin-bottom: 20px;

  &-title {
    @extend .t3;
    margin-bottom: 20px;

  }

  a {
    display: inline-block;
    width: fit-content;
    margin-bottom: 15px;
    @extend .text__animated;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;


  &:last-child {
    margin-bottom: 0;
  }
}

.social__link {
  flex-direction: row;
  margin-bottom: 35px;

  a {
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.contact__icon {
  @include _transition(all, .3s);
  position: relative;
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(rgba(255, 255, 255, 0.3)));

  &-mobile {
    display: none;

    @media only screen and (max-width:1100px) {
      display: flex;
    }
  }

  &-desktop {
    @media only screen and (max-width:1100px) {
      display: none;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, .8);
    color: $textAltColor;
    transform: scale(1.5)translate(0, -20%);
  }
}

.popup {
  @include _transition(all, .1s);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100500;
  display: none;
}

.popup__overlay {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.popup__more {

  display: flex;
  // flex-direction: column;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  padding: 30px;
  z-index: 2;
  background: #fff;
  align-items: flex-start;
  justify-content: space-between;

  ul {
    list-style: none;

    li {
      font-size: 10px;
      display: flex;
      position: relative;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: url('../img/svg/icon__list.svg');
        display: block;
        margin-right: 10px;

      }
    }
  }



  &-icon {
    align-self: center;
    width: 80px;
    height: 80px;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-side {
    display: flex;
    flex-direction: column;
    width: 13%;
  }

  &-detail__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  &-detail__img {
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    width: 84%;
  }

  &-title {
    margin-bottom: 15px;
  }

  &-text {
    margin-bottom: 10px;
  }
}

.project__preview {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  max-width: 70vw;
  max-height: 90vh;
  overflow: auto;
  position: relative;
  display: flex;
  z-index: 2;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input,
textarea {
  padding: 10px 20px;
  @extend .p;
  @include _borderRadius(5px);
  @include _transition(all, .5s);

  border: 2px solid $accentSecond;
  background: rgba(255, 255, 255, .1);
  color: $textcolor;

  &:active,
  &:focus {
    background: #fff;
  }
}

.form__popup {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $mainColor;
  @include _borderRadius(5px);
  @include _transition(all, .1s);
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  z-index: 2;
  width: 95%;
  max-width: 500px;
  padding: 50px 20px;


  &-input {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &-textarea {
    margin-bottom: 15px;
  }


}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  display: flex;

  @include _transition(transform, .3s);

  span {
    @include _borderRadius(5%);
    position: absolute;
    // top: 0%;
    right: 0%;
    transform: rotate(45deg);
    display: block;
    background: $textcolor;
    width: 100%;
    height: 3px;
    bottom: 10px;

    &::before {
      @include _borderRadius(5%); // top: 0%;
      right: 0%;
      bottom: 10px;
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(-90deg);
      display: block;
      background: $textcolor;
      width: 100%;
      height: 3px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.btn {
  @extend .text__animated;
  // background-image: linear-gradient(top, #383838 0%, #1F1F1F 5%, #161616 100%);
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#1F1F1F), to(#161616));
  background: #161616;
  box-shadow: 0 0 1px 1px rgb(10, 10, 10);

  @include _borderRadius(7px);
  color: #fff;
  font-weight: bold;
  font-family: arial;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  max-width: 175px;
  text-transform: uppercase;
  height: 40px;
  position: relative;
  @include _transition(all, .5s);

  &-projects__btn {
    margin-top: auto;
    align-self: flex-end;
    transform: translate(0, 100%);
    opacity: 0;
    pointer-events: none;
    @include _transition(all, 1s);
    transition-delay: 1s;

    &._active {
      transform: translate(0%, 0%);
      opacity: 1;
      pointer-events: all;
    }
  }

  &-rates__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    max-width: 150px;
    align-self: flex-end;
    padding: 0;
  }

  // &-rec__btn {
  //   &:before {

  //     animation: rec__blink infinite alternate;
  //     animation-duration: 1s;
  //     animation-delay: 5s;
  //     position: absolute;
  //     content: '';
  //     right: 15px;
  //     top: 10px;
  //     width: 12px;
  //     height: 12px;
  //     background: #646464;
  //     background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
  //     border-radius: 50%;
  //     box-shadow: 0 0 4px #1C1C17;
  //     transition: all .3s ease;

  //   }

  //   &:hover {
  //     &:before {
  //       animation-play-state: paused;
  //       background: #FF4F4F;
  //       box-shadow: 0 0 4px #1C1C17,
  //         0 0 5px #FF4242;
  //     }
  //   }

  //   &:active {
  //     &:before {
  //       box-shadow: 0 0 4px #1C1C17,
  //         inset 0 2px 2px 0px #CC0000;
  //     }
  //   }
  // }

  &-more__btn {
    align-self: flex-end;
    margin-top: 20px;
  }

  &:hover {
    background: #fff;
    color: #383838;

    @extend .text__animated;
    // font-size: 1.4rem;
  }

  &:active {
    box-shadow: 0 0 1px 1px rgb(10, 10, 10),
      inset 0 2px 2px 0px black;


  }


  &-popup__btn {
    max-width: 100%;
  }

  &-download__btn {
    max-width: 175px;
    align-self: center;
  }
}